/* Slider settings ----------------------------------------------------*/

.slidercontainer {
    margin: auto;
    width: 40%;
    padding: 20px;
}

/* The slider itself */
.slider {
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    width: 100%;
    margin: auto;
    height: 20px; /* Specified height */
    background: #d3e0d3; /* Grey background */
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: green; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Link settings ----------------------------------------------------*/

a {
    text-decoration: none;
    color: #888;
}
a:hover {
    color: #333;
}

/* Bar graph settings ----------------------------------------------------*/

.chart div {
  font: 20px sans-serif;
  background-color: darkgreen;
  text-align: left;
  margin: 10px;
  color: black;
}

/* Font and style settings ----------------------------------------------------*/

html {
    max-width: 90%;
    margin: auto;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', 'PT Serif', Sans-Serif;    
    max-width: 960px;
    margin: auto;
    line-height: 1.6;
    color: #333;
}

h1 {     
    font-family: 'PT Serif', Serif;
    font-size: 2em;
    margin-bottom: 0px;
}

.date-format {
    font-size: 0.8em;
}

/* Title settings ----------------------------------------------------*/

.site-header {
    color: #333;
    padding-top: 20px;    
    padding-bottom: 20px;
    display: flex;
    flexwrap: wrap;
}

.site-header div {    
    flex: 1 1 0;
}

.site-header-title {   
    font-family: 'PT Serif', Serif; 
    font-size: 1.8em;
}

.site-header-nav {
    text-align: right;
    font-size: 1em;
}

.site-header-nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Page navigation settings ----------------------------------------------------*/

.post-nav {
    padding-top: 20px;    
    padding-bottom: 20px;
    display: flex;
    flexwrap: wrap;
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
    width: 45%;
}
.post-nav-next {
    text-align: right;
}
